<h1>Name:-Parmar Umang H.</h1>
<h1>Div:-A</h1>
<h1>Roll No:-40</h1>

# Importing the libraries

In [1]:
#import libraray
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset

In [2]:
#import dataset
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset

    Item no   Outlook  Temp Humidity  Windy Play
0         1     Sunny   Hot     High  False   No
1         2     Sunny   Hot     High   True   No
2         3  Overcast   Hot     High  False  Yes
3         4     Rainy  Mild     High  False  Yes
4         5     Rainy  Cool   Normal  False  Yes
5         6     Rainy  Cool   Normal   True   No
6         7  Overcast  Cool   Normal   True  Yes
7         8     Sunny  Mild     High  False   No
8         9     Sunny  Cool   Normal  False  Yes
9        10     Rainy  Mild   Normal  False  Yes
10       11     Sunny  Mild   Normal   True  Yes
11       12  Overcast  Mild     High   True  Yes
12       13  Overcast   Hot   Normal  False  Yes
13       14     Rainy  Mild     High   True   No
14       15     Sunny   Hot     High  False   No
15       16     Sunny   Hot     High   True   No
16       17  Overcast   Hot     High  False  Yes
17       18     Rainy  Mild     High  False  Yes
18       19     Rainy  Cool   Normal  False  Yes
19       20     Rainy  Cool   Normal   True   No
20       21  Overcast  Cool   Normal   True  Yes
21       22     Sunny  Mild     High  False   No
22       23     Sunny  Cool   Normal  False  Yes
23       24     Rainy  Mild   Normal  False  Yes
24       25     Sunny  Mild   Normal   True  Yes
25       26  Overcast  Mild     High   True  Yes
26       27  Overcast   Hot   Normal  False  Yes
27       28     Rainy  Mild     High   True   No

In [4]:
#two separate column
x = dataset.iloc[:, 1:5].values
y = dataset.iloc[:, 5].values

In [5]:
print(x)

[['Sunny' 'Hot' 'High' False]
 ['Sunny' 'Hot' 'High' True]
 ['Overcast' 'Hot' 'High' False]
 ['Rainy' 'Mild' 'High' False]
 ['Rainy' 'Cool' 'Normal' False]
 ['Rainy' 'Cool' 'Normal' True]
 ['Overcast' 'Cool' 'Normal' True]
 ['Sunny' 'Mild' 'High' False]
 ['Sunny' 'Cool' 'Normal' False]
 ['Rainy' 'Mild' 'Normal' False]
 ['Sunny' 'Mild' 'Normal' True]
 ['Overcast' 'Mild' 'High' True]
 ['Overcast' 'Hot' 'Normal' False]
 ['Rainy' 'Mild' 'High' True]
 ['Sunny' 'Hot' 'High' False]
 ['Sunny' 'Hot' 'High' True]
 ['Overcast' 'Hot' 'High' False]
 ['Rainy' 'Mild' 'High' False]
 ['Rainy' 'Cool' 'Normal' False]
 ['Rainy' 'Cool' 'Normal' True]
 ['Overcast' 'Cool' 'Normal' True]
 ['Sunny' 'Mild' 'High' False]
 ['Sunny' 'Cool' 'Normal' False]
 ['Rainy' 'Mild' 'Normal' False]
 ['Sunny' 'Mild' 'Normal' True]
 ['Overcast' 'Mild' 'High' True]
 ['Overcast' 'Hot' 'Normal' False]
 ['Rainy' 'Mild' 'High' True]]

In [6]:
print(y)

['No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'No' 'No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'No']

In [7]:
#make data frame
x = pd.DataFrame(x)
y = pd.DataFrame(y)

In [8]:
x

           0     1       2      3
0      Sunny   Hot    High  False
1      Sunny   Hot    High   True
2   Overcast   Hot    High  False
3      Rainy  Mild    High  False
4      Rainy  Cool  Normal  False
5      Rainy  Cool  Normal   True
6   Overcast  Cool  Normal   True
7      Sunny  Mild    High  False
8      Sunny  Cool  Normal  False
9      Rainy  Mild  Normal  False
10     Sunny  Mild  Normal   True
11  Overcast  Mild    High   True
12  Overcast   Hot  Normal  False
13     Rainy  Mild    High   True
14     Sunny   Hot    High  False
15     Sunny   Hot    High   True
16  Overcast   Hot    High  False
17     Rainy  Mild    High  False
18     Rainy  Cool  Normal  False
19     Rainy  Cool  Normal   True
20  Overcast  Cool  Normal   True
21     Sunny  Mild    High  False
22     Sunny  Cool  Normal  False
23     Rainy  Mild  Normal  False
24     Sunny  Mild  Normal   True
25  Overcast  Mild    High   True
26  Overcast   Hot  Normal  False
27     Rainy  Mild    High   True

In [9]:
y

      0
0    No
1    No
2   Yes
3   Yes
4   Yes
5    No
6   Yes
7    No
8   Yes
9   Yes
10  Yes
11  Yes
12  Yes
13   No
14   No
15   No
16  Yes
17  Yes
18  Yes
19   No
20  Yes
21   No
22  Yes
23  Yes
24  Yes
25  Yes
26  Yes
27   No

# Data Clean

In [10]:
#import lable encoder library
from sklearn.preprocessing import LabelEncoder 
labelencoder_X = LabelEncoder()
#lable encode
x.values[:, 0] = labelencoder_X.fit_transform(x.values[:, 0])
x.values[:, 1] = labelencoder_X.fit_transform(x.values[:, 1])
x.values[:, 2] = labelencoder_X.fit_transform(x.values[:, 2])
x.values[:, 3] = labelencoder_X.fit_transform(x.values[:, 3])
y.values[:, 0] = labelencoder_X.fit_transform(y.values[:, 0])

# Splitting the dataset into the Training set and Test set

In [11]:
#model split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [12]:
X_train=X_train.astype(float)
y_train=y_train.astype(float)
X_test=X_test.astype(float)
y_test=y_test.astype(float)

# Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Fitting K-NN to the Training set

In [14]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 19)
classifier.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(n_neighbors=19)

# Predicting the Test set results

In [15]:
y_pred = classifier.predict(X_test)
print(y_pred)

[1. 1. 1. 1. 1. 1. 1.]

# Accuracy Result

In [16]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy : {} %".format(metrics.accuracy_score(y_test, y_pred)*100))

Accuracy : 71.42857142857143 %

# Making the Confusion Matrix

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[0 2]
 [0 5]]