<h1>Name:-Parmar Umang H.</h1>
<h1>Div:-A</h1>
<h1>Roll No:-40</h1>

In [1]:
#import library
import pandas as pd 
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [2]:
#import dataset
dataset = pd.read_csv('student_details.csv')
    
#separate two column
X = dataset.iloc[:, 1:5].values
Y = dataset.iloc[:, 5].values

In [3]:
#make data frame
X = pd.DataFrame(X)
y = pd.DataFrame(Y)

In [4]:
X

         0       1    2          3
0    Youth    High   No       Fair
1    Youth    High   No  Excellent
2   Middle    High   No       Fair
3   Senior  Medium   No       Fair
4   Senior     Low  Yes       Fair
5   Middle     Low  Yes  Excellent
6   Senior     Low  Yes  Excellent
7    Youth  Medium   No       Fair
8    Youth     Low  Yes       Fair
9   Senior  Medium  Yes       Fair
10   Youth  Medium  Yes  Excellent
11  Middle  Medium   No  Excellent
12  Middle    High  Yes       Fair
13  Senior  Medium  Yes  Excellent

In [5]:
y

      0
0    No
1    No
2   Yes
3   Yes
4   Yes
5    No
6   Yes
7    No
8   Yes
9   Yes
10  Yes
11  Yes
12  Yes
13   No

In [6]:
#import lable encoder library
from sklearn.preprocessing import LabelEncoder 
labelencoder_X = LabelEncoder()
X.values[:, 0] = labelencoder_X.fit_transform(X.values[:, 0])
X.values[:, 1] = labelencoder_X.fit_transform(X.values[:, 1])
X.values[:, 2] = labelencoder_X.fit_transform(X.values[:, 2])
X.values[:, 3] = labelencoder_X.fit_transform(X.values[:, 3])
y.values[:, 0] = labelencoder_X.fit_transform(y.values[:, 0])

In [7]:
#model split
p_train,p_test,t_train,t_test=train_test_split(X, y,test_size=0.3,random_state=123)

In [8]:
p_train=p_train.astype(int)
p_test=p_test.astype(int)
t_train=t_train.astype(int)
t_test=t_test.astype(int)

In [9]:
model=GaussianNB()

In [10]:
model=model.fit(p_train,t_train.values.ravel())

In [11]:
predict=model.predict(p_test)

In [12]:
pred=model.predict([[0,0,0,1]])

In [13]:
print("Leptop Buy : !!!")
if(pred==0):
    print("No")
else:
    print("Yes")

print(confusion_matrix(t_test,predict))
print(classification_report(t_test,predict))

Leptop Buy : !!!
Yes
[[1 2]
 [1 1]]
              precision    recall  f1-score   support

           0       0.50      0.33      0.40         3
           1       0.33      0.50      0.40         2

    accuracy                           0.40         5
   macro avg       0.42      0.42      0.40         5
weighted avg       0.43      0.40      0.40         5