In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
data = pd.read_csv("Play.csv")
data

    Item no  Temperature  Humidity  Wind Speed Play
0         1           85        85          12   No
1         2           80        90           9   No
2         3           83        86           4  Yes
3         4           70        96           3  Yes
4         5           68        80           5  Yes
5         6           65        70          20   No
6         7           64        65           2  Yes
7         8           72        95          12   No
8         9           69        70           5  Yes
9        10           75        80           2  Yes
10       11           75        70           3  Yes
11       12           72        90           4  Yes
12       13           81        75           5  Yes
13       14           71        91          15   No

In [37]:
x=data[['Temperature','Humidity','Wind Speed']]

In [38]:
x

    Temperature  Humidity  Wind Speed
0            85        85          12
1            80        90           9
2            83        86           4
3            70        96           3
4            68        80           5
5            65        70          20
6            64        65           2
7            72        95          12
8            69        70           5
9            75        80           2
10           75        70           3
11           72        90           4
12           81        75           5
13           71        91          15

In [39]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [40]:
data['Play'] = le.fit_transform(data['Play'])

In [52]:
y = data['Play']

In [53]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play, dtype: int32

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [56]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [57]:
lr.fit(x_train,y_train)

LogisticRegression()

In [58]:
lr.predict(x_test)

array([0, 1, 0, 0, 1])

In [61]:
y_predict=lr.predict(x_test)

In [62]:
lr.score(x_test,y_test)

1.0

In [63]:
from sklearn import metrics
metrics.accuracy_score(y_test,lr.predict(x_test))

1.0

In [64]:
metrics.recall_score(y_test,lr.predict(x_test))

1.0

In [66]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predict)
print(cm)

[[3 0]
 [0 2]]

In [ ]:
////////////////////////////////////KNN///////////////////////////////////////////////////////

In [67]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [68]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [69]:
model.score(x_train,y_train)

0.7777777777777778

In [ ]:
////////////////////////////////////Tree///////////////////////////////////////////////////////

In [70]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [71]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [72]:
model.score(x_train,y_train)

1.0

In [ ]:
////////////////////////////////////Tree///////////////////////////////////////////////////////